[Unit]
Description=Update cloud images periodically

[Timer]
OnCalendar=*-*-* 03:00:00
Unit=update-cloud-images.service
Persistent=true

[Install]
WantedBy=timers.target
